/venv
temp.py
/__pycache__
*/__pycache__
config.json
__pycache__
/misc/settings/__pycache__
/misc/settings/__pycache__/*.pyc
*.pyc
*.cpython
/misc/settings/__pycache__/control_save_path.cpython-314.pyc
/db_temp_sql
